*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: azure;
    color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, hr {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
}