/* Fonts & colours */

:root {
    --font-frank-ruhl: 'Frank Ruhl Libre', serif;
    --font-arimo: 'Arimo', sans-serif;

    --color-text-interface: #0B0A08;
    --color-primary-bg: #F7F2DE;
    --color-secondary-bg-text: white;

    --color-red: #DC4131;
    --color-blue: #E1EAF0;
    --color-green: #008F51;
}

/* Global & mobile-first styles */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-arimo), sans-serif;
    line-height: 1.6;
    background-color: white;
    color: var(--color-text-interface);
}

.body-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-interface);
} 

.large-body-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-interface);
}

.logo-text {
    font-family: var(--font-frank-ruhl);
    font-weight: 300;
    font-size: 40px;
    color: var(--color-text-interface);
    text-transform: uppercase;
    z-index: 1;
}

.logo-text a {
    color: var(--color-text-interface);
}

.header-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text-interface);
    text-transform: uppercase;
    text-align: center;
}

.sub-header-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-interface);
    text-transform: uppercase;
}

.accent-text {
    font-family: var(--font-frank-ruhl);
    font-weight: 300;
    font-size: 16px;
    color: var(--color-text-interface);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color-text-interface);
}

a:hover {
    text-decoration: underline;
}

:focus {
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
}

.off-screen-nav-list li a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 2px solid var(--color-red);
}

ul {
    list-style: none;
}

/* CONTENT */

/* Header */

.main-header {
    background-color: var(--color-primary-bg);
    border-bottom: 2px solid var(--color-text-interface);
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 0 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 68px;
}

/* Hamburger menu */

.off-screen-menu {
    background-color: var(--color-green);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    left: -450px;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    transition: .3s ease;
    padding: 20px;
    padding-top: 40px;
}

.off-screen-menu.active {
    left: 0;
}

.off-screen-nav-list {
    list-style: none;
    padding: 70px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
    width: 100%;
}

.off-screen-nav-list li {
    font-size: 20px; 
    width: 100%; 
}

.off-screen-nav-list li:last-child {
    margin-top: auto;
    padding-bottom: 20px; 
}

nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    height: 35px;
    width: 30px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--color-text-interface);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 20%;
}

.ham-menu span:nth-child(2) {
    top: 80%
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Cart icon thing */

.cart-icon {
    background-color: var(--color-green);
    color: var(--color-text-interface);
    height: 45px;
    width: 55px;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

/* MAIN */

/* Top section – Hero */

.hero-section {
    min-height: 90vh;
    background-image: url('Exam Project/Images/Landing Page/markus-spiske-WcLzVLbUP5g-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--color-secondary-bg-text);
    position: relative;
}

.hero-title {
    font-family: var(--font-frank-ruhl);
    font-weight: 300;
    font-size: 75px;
    margin: 0;
}

.hero-subtitle {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 24px;
}

.hero-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.vertical-line {
    width: 1px;
    height: 240px;
    background-color: var(--color-secondary-bg-text);
    margin: 10px 0;
}

/* Content section */

.content-section {
    padding: 98px 0;
    margin: 0 16px;
    text-align: center;
}

.image-container {
    margin: 0 auto;
    max-width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 25px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-section h1.header-text {
    margin-bottom: 8px;
}

.content-section p.accent-text:nth-of-type(1) {
    margin-bottom: 45px;
}

.content-section p.accent-text + .primary-button {
    margin-bottom: 45px;
}

.primary-button {
    background-color: var(--color-red);
    color: var(--color-secondary-bg-text);
    border: none;
    width: 320px;
    height: 45px;
    border-radius: 8px;
    padding: 15px 30px;
    margin: 45px auto;
    font-family: var(--font-arimo);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #AE2E21;
}

.hero-divider-line {
    height: 1px;
    background-color: var(--color-text-interface);
    margin: 45px 0 60px;
}

/* How it works section */

.how-it-works-section {
    background-color: var(--color-primary-bg);
    text-align: center;
    margin-bottom: 0;
    text-align: left;
}

.how-it-works-section .header-text {
    margin-top: 90px;
    margin-bottom: 45px;
    padding: 0 16px;
}

.step {
    padding: 24px 45px;
}

.step:last-of-type {
    margin-bottom: 0;
}

.step-link {
    color: gray;
    text-decoration: underline;
}

.step-link:hover {
    color: var(--color-text-interface);
}

.how-it-works-divider {
    height: 1px;
    background-color: var(--color-text-interface);
    margin: 45px 0;
}

/* Popular produce section */

.popular-produce-section {
    background-color: var(--color-secondary-bg-text);
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 0;
}

.popular-produce-section .header-text {
    margin-bottom: 30px;
    text-align: left;
    padding-left: 45px;
}

.produce-carousel {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    gap: 30px;
    padding-left: 45px;
    padding-right: 45px;

    .produce-carousel::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.produce-card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 250px;
    padding-bottom: 20px;
    text-align: left;
    scroll-snap-align: start;
}

.popular-produce-img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.produce-info {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 10px;
    align-items: end;
    padding: 10px 0;
}

.produce-name {
    font-size: 20px;
    margin-bottom: 0px;
    grid-column: 1 / 2;
    white-space: nowrap;
}

.produce-price {
    font-size: 20px;
    margin-bottom: 0px;
    grid-column: 2 / 3;
    text-align: right;
    white-space: nowrap;
}

.produce-weight {
    font-size: 20px;
    margin-bottom: 0;
    color: gray;
    grid-column: 1 / 2;
    white-space: nowrap;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    font-family: var(--font-arimo);
    font-size: 16px;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 265px;
    right: 16px;
    transform: translateX(0%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.add-to-cart-button:hover {
    background-color: var(--color-green);
}

/* FOOTER */

footer {
    background-color: var(--color-red);
    padding: 0 45px;
}

.footer-content-wrapper {
    max-width: 360px;
    margin: 0 auto;
    text-align: left;
}

.footer-horizontal-line {
    height: 1px;
    width: 100%;
    max-width: 360px;
    background-color: var(--color-secondary-bg-text);
}

.footer-title {
    font-family: var(--font-frank-ruhl);
    font-size: 48px;
    font-weight: 300;
    padding-top: 45px;
    color: var(--color-secondary-bg-text);
    text-transform: uppercase;
}

.footer-sub-header {
    font-family: var(--font-arimo);
    font-size: 24px;
    font-weight: 400;
    margin: 45px 0;
    color: var(--color-secondary-bg-text);
    text-transform: uppercase;
}

.footer-accent {
    font-family: var(--font-frank-ruhl);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
    color: var(--color-secondary-bg-text);
}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-up input {
    background-color: white;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin: 6px 0 6px 0;
    padding-left: 15px;
    font-family: var(--font-arimo);
    font-size: 16px;
    cursor: pointer;
}

.sign-up button {
    background-color: var(--color-blue);
    color: var(--color-text-interface);
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 45px;
    font-family: var(--font-arimo);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up button:hover {
    background-color: var(--color-green);
}

/* Desktop size */

@media (min-width: 768px) {

    .body-text {
        font-size: 16px;
    }

    .large-body-text {
        font-size: 20px;
    }

    .logo-text {
        font-size: 30px;
    }

    .header-text {
        font-size: 36px;
    }

    .sub-header-text {
        font-size: 20px;
    }

    .accent-text {
        font-size: 16px;
    }

    .ham-menu {
        height: 25px;
        width: 20px;
    }

    .cart-icon {
        height: 35px;
        width: 45px;
    }
    
    .hero-title {
        font-size: 200px;
    }

    .hero-subtitle {
        font-size: 36px;
    }

    .vertical-line {
        height: 208px;
    }
}