/* Fonts & colours */

:root {
    --font-frank-ruhl: 'Frank Ruhl Libre', serif;
    --font-arimo: 'Arimo', sans-serif;

    --color-text-interface: #0B0A08;
    --color-primary-bg: #F7F2DE;
    --color-secondary-bg-text: white;

    --color-red: #DC4131;
    --color-blue: #E1EAF0;
    --color-green: #008F51;
}

/* Global & mobile-first styles */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-arimo), sans-serif;
    line-height: 1.6;
    background-color: var(--color-primary-bg);
    color: var(--color-text-interface);
}

.body-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-interface);
} 

.large-body-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-interface);
}

.logo-text {
    font-family: var(--font-frank-ruhl);
    font-weight: 300;
    font-size: 40px;
    color: var(--color-text-interface);
    text-transform: uppercase;
    z-index: 1;
}

.logo-text a {
    color: var(--color-text-interface);
}

.header-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text-interface);
    text-transform: uppercase;
}

.sub-header-text {
    font-family: var(--font-arimo);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-interface);
    text-transform: uppercase;
}

.accent-text {
    font-family: var(--font-frank-ruhl);
    font-weight: 300;
    font-size: 16px;
    color: var(--color-text-interface);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

:focus {
    outline: 2px solid;
    outline-offset: 2px;
}

ul {
    text-decoration: none;
}

/* CONTENT */

/* Header */

.main-header {
    background-color: var(--color-primary-bg);
    border-bottom: 2px solid var(--color-text-interface);
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 0 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 68px;
}

/* Hamburger menu */

.off-screen-menu {
    background-color: var(--color-green);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    left: -450px;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    transition: .3s ease;
    padding: 20px;
    padding-top: 40px;
}

.off-screen-menu.active {
    left: 0;
}

.off-screen-nav-list {
    list-style: none;
    padding: 70px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
    width: 100%;
}

.off-screen-nav-list li {
    font-size: 20px; 
    width: 100%; 
}

.off-screen-nav-list li:last-child {
    margin-top: auto;
    padding-bottom: 20px; 
}

nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    height: 35px;
    width: 30px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--color-text-interface);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 20%;
}

.ham-menu span:nth-child(2) {
    top: 80%
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Cart icon thing */

.cart-icon {
    background-color: var(--color-green);
    color: var(--color-text-interface);
    height: 45px;
    width: 55px;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

/* MAIN will come here */




/* Desktop size */

@media (min-width: 768px) {

    .body-text {
        font-size: 16px;
    }

    .large-body-text {
        font-size: 20px;
    }

    .logo-text {
        font-size: 30px;
    }

    .header-text {
        font-size: 36px;
    }

    .sub-header-text {
        font-size: 20px;
    }

    .accent-text {
        font-size: 16px;
    }

    .ham-menu {
        height: 25px;
        width: 20px;
    }

    .cart-icon {
        height: 35px;
        width: 45px;
    }
    
}