/*
    === styles.css ===
    This file contains the main styling across the various pages. This project
    follows a mobile-first approach, with the desktop version in the @media queries.
    Note: This is the original stylesheet. A minified version will be linked
    in all the HTML files.
*/

/*

   ================
    1. BASE STYLES
   ================

*/

:root {
    --font-frank-ruhl: 'Frank Ruhl Libre', serif;
    --font-arimo: 'Arimo', sans-serif;
    --color-text-interface: #0B0A08;
    --color-primary-bg: #F7F2DE;
    --color-secondary-bg-text: white;
    --color-red: #DC4131;
    --color-blue: #E1EAF0;
    --color-green: #008F51;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

body {
    font-family: var(--font-arimo) , sans-serif;
    line-height: 1.6;

    margin: 0;
    padding: 0;

    color: var(--color-text-interface);
    background-color: white;
}

p {
    margin: 0;
}

.body-text {
    font-family: var(--font-arimo);
    font-size: 16px;
    font-weight: 400;

    color: var(--color-text-interface);
}

.logo-text {
    font-family: var(--font-frank-ruhl);
    font-size: 40px;
    font-weight: 300;

    z-index: 1;

    text-transform: uppercase;

    color: var(--color-text-interface);
}

.logo-text a {
    color: var(--color-text-interface);
}

.header-text {
    font-family: var(--font-arimo);
    font-size: 24px;
    font-weight: 400;

    text-align: center;
    text-transform: uppercase;

    color: var(--color-text-interface);
}

.sub-header-text {
    font-family: var(--font-arimo);
    font-size: 18px;
    font-weight: 400;

    text-transform: uppercase;

    color: var(--color-text-interface);
}

.accent-text {
    font-family: var(--font-frank-ruhl);
    font-size: 16px;
    font-weight: 300;

    color: var(--color-text-interface);
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;

    color: var(--color-text-interface);
}

a:hover {
    text-decoration: underline;
}

.off-screen-nav-list li a:focus {
    outline: 2px solid var(--color-red);
    background-color: rgba(255, 255, 255, 0.1);
}

ul {
    list-style: none;
}

/*

   ===================================
    2. SHARED CONTENT AMONGST ALL PAGES
   ===================================

*/

/* { Header } */

.main-header {
    position: sticky;
    z-index: 100;
    top: 0;

    height: 68px;
    padding: 0 20px;

    border-bottom: 2px solid var(--color-text-interface);
    background-color: var(--color-primary-bg);
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    height: 68px;
}

/* { Hamburger menu } */

.off-screen-menu {
    position: fixed;
    left: -450px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    max-width: 450px;
    height: 100vh;
    padding: 20px;
    padding-top: 40px;

    transition: .3s ease;
    text-align: center;

    background-color: var(--color-green);
}

.off-screen-menu.active {
    left: 0;
}

.off-screen-nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;

    width: 100%;
    margin: 0;
    padding: 70px;

    list-style: none;
}

.off-screen-nav-list li {
    font-size: 24px;

    width: 100%;
}

.off-screen-nav-list li:last-child {
    margin-top: 350px;
    padding-bottom: 20px;
}

nav {
    display: flex;

    padding: 1rem;
}

.ham-menu {
    position: relative;

    width: 30px;
    height: 35px;
    margin-right: auto;
    margin-left: 0;
}

.ham-menu span {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 2px;

    transition: .3s ease;
    transform: translate(-50%, -50%);

    border-radius: 25px;
    background-color: var(--color-text-interface);
}

.ham-menu span:nth-child(1) {
    top: 20%;
}

.ham-menu span:nth-child(2) {
    top: 80%
}

.ham-menu.active span:nth-child(1) {
    top: 50%;

    transform: translate(-50%, -50%) rotate( 45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;

    transform: translate(-50%, -50%) rotate( -45deg);
}

/* { Cart icon thing } */

.cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 45px;
    margin-right: 0;
    margin-left: auto;

    color: var(--color-text-interface);
    border-radius: 45%;
    background-color: var(--color-green);
}

/* { Modified styles for accessibility } */

.ham-menu:focus-visible span {
    background-color: var(--color-red);
}

a:focus-visible,
button:focus-visible,
input[type="submit"]:focus-visible,
input[type="button"]:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}

#messageInput:focus-visible,
.sign-up input:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
}

.primary-button:focus-visible {
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
    background-color: #AE2E21;
}

.add-to-cart-button:focus-visible {
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
    background-color: var(--color-green);
}

.step-link:focus-visible {
    color: var(--color-text-interface);
    outline: 2px solid var(--color-red);
    outline-offset: 2px;
}

#map:focus-visible {
    border-radius: 16px;
    outline: 2px solid var(--color-red);
    outline-offset: 4px;
}

/*

   ==================
    3. LANDING PAGE
   ==================

*/

/* { Top section - Hero } */

.hero-section {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: calc(100vh - 68px);
    min-height: 90vh;
    padding: 20px;

    text-align: center;

    color: var(--color-secondary-bg-text);
    background-image: url('/Exam-Project/assets/images/Landing-Page/Hero-bg-img.jpg');
    background-position: center;
    background-size: cover;
}

@supports(background-image: url( 'data: image/avif; base64, AAAAHGZ0eXAgYXZpZjhpZjAgYXZpZiAgYXZpZiBtYXJrZmEzAAAADmljY28dIHRydmMgcmZjIG51bGwxAABsYXZpZmF2eXJmZgAAr3BpdG0AAAAAaWl0cmlwAAAAEGF2aWZpZmEgAAAAAEhXRFJJV1NMQ2FydGZkQ1EAAAAARGl0c3UAAAAAcGlweAAAAHJob28AAAAAMnBpdWluAAAAAPoAAABtaWRhAABtb292AAAACGdtZGF0YWAAAAAybmRhaXAAAAARaGlkYWRtAAAAAAAVcGlsYwAAAAAoYXZpZmF2Y2kAAAAEAAABgAAAAAAABw=="')) {
    .hero-section {
        background-image: url('/Exam-Project/assets/images/Landing-Page/Hero-bg-img.avif');
    }
}

.hero-title {
    font-family: var(--font-frank-ruhl);
    font-size: 75px;
    font-weight: 300;

    margin: 0;
}

.hero-subtitle {
    font-family: var(--font-arimo);
    font-size: 24px;
    font-weight: 400;
}

.hero-divider {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 1rem;
}

.vertical-line {
    width: 1px;
    height: 240px;
    margin: 10px 0;

    background-color: var(--color-secondary-bg-text);
}

/* { Shop & Ask section } */

.shop-and-ask-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding-top: 90px;
    padding-bottom: 90px;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 448px;
    margin: 0 16px;

    text-align: center;
}

.image-container {
    overflow: hidden;

    max-width: 360px;
    height: 250px;
    margin: 0 auto;

    border-radius: 25px;
}

.image-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.content-section h1.header-text {
    margin-bottom: 8px;
    padding: 0 50px;
}

.accent-text.image-description {
    margin-top: 45px;
    ;
}

.content-section p.accent-text:nth-of-type(1) {
    margin-bottom: 45px;
}

.content-section p.accent-text + .primary-button {
    margin-bottom: 45px;
}

.primary-button {
    font-family: var(--font-arimo);
    font-size: 16px;

    width: 320px;
    height: 45px;
    margin: 45px auto;
    padding: 15px 30px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    color: var(--color-secondary-bg-text);
    border: none;
    border-radius: 8px;
    background-color: var(--color-red);
}

.primary-button:hover {
    background-color: #AE2E21;
}

.hero-divider-line {
    height: 1px;
    margin: 45px 16px 60px;

    background-color: var(--color-text-interface);
}

/* { How it works section } */

.how-it-works-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100vw;
    margin: 0;

    background-color: var(--color-primary-bg);
}

.how-it-works-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
}

.steps {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
}

.step-1 {
    align-items: center;
    justify-content: center;

    padding: 90px 100px 45px;

    border-top: 1px solid var(--color-text-interface);
}

.step-2 .body-text {
    margin-bottom: 15px;
}

.step-2,
.step-3,
.step-4,
.step-5 {
    border-top: 1px solid var(--color-text-interface);
}

.step-5 {
    border-bottom: 1px solid var(--color-text-interface);
}

.right-column {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.steps-wrapper {
    display: block;

    padding: 0;
}

.step-main-title {
    margin: 0;

    text-align: center;
}

.sub-header-text.step-title-small {
    width: 100%;
    margin: 0;
    padding: 45px 45px 24px;

    text-align: left;
}

.step-text-area {
    margin: 0;
    padding: 0 45px 45px;

    text-align: left;
}

.step-link {
    text-decoration: underline;

    opacity: 70%;
    color: black;
}

.step-link:hover {
    color: var(--color-text-interface);
}

/* { Popular produce section } */

.popular-produce-section {
    margin-bottom: 0;
    padding-top: 90px;
    padding-bottom: 90px;

    background-color: var(--color-secondary-bg-text);
}

.popular-produce-section .header-text {
    margin-bottom: 30px;
    padding-left: 45px;

    text-align: left;
}

.produce-carousel {
    display: flex;
    overflow-x: scroll;

    padding-right: 45px;
    padding-left: 45px;

    -webkit-overflow-scrolling: touch;
    gap: 30px;

    .produce-carousel::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.produce-card {
    position: relative;

    display: flex;
    overflow: hidden;
    flex: 0 0 auto;
    flex-direction: column;

    width: 250px;
    padding-bottom: 20px;

    text-align: left;

    scroll-snap-align: start;
}

.popular-produce-img {
    width: 100%;
    height: 320px;

    border-radius: 16px;

    object-fit: cover;
}

.produce-info {
    display: grid;
    align-items: end;

    padding: 0;

    grid-template-columns: 1fr auto;
    gap: 0 10px;
}

.produce-name {
    font-size: 20px;

    margin-bottom: 0px;

    white-space: nowrap;

    grid-column: 1 / 2;
}

.produce-price {
    font-size: 20px;

    margin: 0;

    text-align: right;
    white-space: nowrap;

    grid-column: 2 / 3;
}

.produce-weight {
    font-size: 20px;

    margin-top: 10px;

    white-space: nowrap;

    color: gray;

    grid-column: 1 / 2;
}

.add-to-cart-button {
    font-family: var(--font-arimo);
    font-size: 16px;

    position: absolute;
    z-index: 10;
    top: 265px;
    right: 16px;

    width: 150px;
    height: 40px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateX(0%);

    color: white;
    border: none;
    border-radius: 50px;
    background-color: black;
}

.add-to-cart-button:hover {
    background-color: var(--color-green);
}

/* { FOOTER } */

footer {
    padding: 0 45px;

    background-color: var(--color-red);
}

.footer-content-wrapper {
    max-width: 360px;
    margin: 0 auto;

    text-align: left;
}

.footer-horizontal-line {
    width: 100%;
    max-width: 360px;
    height: 1px;

    background-color: var(--color-secondary-bg-text);
}

.footer-title {
    font-family: var(--font-frank-ruhl);
    font-size: 48px;
    font-weight: 300;

    padding-top: 45px;

    text-transform: uppercase;

    color: var(--color-secondary-bg-text);
}

.footer-sub-header {
    font-family: var(--font-arimo);
    font-size: 24px;
    font-weight: 400;

    margin: 45px 0;

    text-transform: uppercase;

    color: var(--color-secondary-bg-text);
}

.footer-accent {
    font-family: var(--font-frank-ruhl);
    font-size: 16px;
    font-weight: 300;

    margin-bottom: 45px;

    color: var(--color-secondary-bg-text);
}

.sign-up {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.sign-up input {
    font-family: var(--font-arimo);
    font-size: 16px;

    width: 100%;
    height: 45px;
    margin: 6px 0 6px 0;
    padding-left: 15px;

    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: white;
}

.sign-up button {
    font-family: var(--font-arimo);
    font-size: 16px;

    width: 100%;
    height: 45px;
    margin-top: 18px;
    margin-bottom: 45px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    color: var(--color-text-interface);
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue);
}

.sign-up button:hover {
    background-color: var(--color-green);
}

.newsletter-error-message {
    font-size: 16px;
    font-weight: 700;

    margin-top: 3px;
    margin-bottom: 6px;
    padding-left: 5px;

    color: var(--color-text-interface);
}

.input-error {
    border: 3px solid var(--color-text-interface) !important;
}

.sign-up input:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
}

/*

   =================
    4. PRODUCT PAGE
   =================

*/

.product-page {
    background-color: var(--color-primary-bg);
}

.product-page-title {
    font-size: 24px;
    font-weight: 300;

    padding: 90px 25px 24px;

    text-transform: uppercase;
}

.product-text {
    padding: 0 50px 40px 25px;
}

/* { Produce section } */

.product-page .produce-card {
    width: 100%;
    padding: 30px 25px 0;
}

.product-page .popular-produce-img {
    height: 280px;
}

.product-page .produce-name {
    font-size: 24px;
}

.product-page .produce-price {
    font-size: 24px;
}

.product-page .produce-weight {
    margin: 0;
}

.product-page .add-to-cart-button {
    top: 255px;
    right: 35px;
}

/* { Partnering farms section } */

.partner-farms {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partner-farms-title {
    font-weight: 400;

    width: fit-content;
    padding: 45px;

    text-align: center;
    text-transform: uppercase;

    border-top: 1px solid var(--color-text-interface);
    border-bottom: 1px solid var(--color-text-interface);
}

/* Map */

#map-container {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 460px;
    padding: 45px 25px;
}

#map {
    width: 100%;
    height: 100%;

    border-radius: 16px;
}

#loading-state,
.error-state {
    font-family: var(--font-arimo);
    font-size: 20px;

    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;

    padding: 15px 25px;

    transform: translate(-50%, -50%);

    color: gray;
    border-radius: 8px;
}

#loading-state {
    color: white;
    background-color: var(--color-green);
}

#error-state {
    font-weight: bold;

    background-color: var(--color-red);
}

/*

   =================
    5. CHATBOT PAGE
   =================

*/

.chatbot-page {
    display: flex;
    flex-direction: column;

    height: 90vh;
    margin: 0;
}

.chatbot-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    width: 100%;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;

    gap: 10px;
}

#messageInput {
    width: 288px;
    height: 44px;
    padding: 16px 25px 20px;

    border: none;
    border-radius: 16px;
    background-color: var(--color-blue);

    #messageInput::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.chat-messages {
    font-weight: 300;
    line-height: 1.3;

    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;

    width: 100%;
}

.message {
    max-width: 80%;
    margin-bottom: 10px;

    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;

    max-width: 255px;
    margin-right: 15px;
    margin-left: auto;
    padding: 10px;

    border-radius: 16px;
    background-color: var(--color-blue);
}

.bot-message-wrapper {
    display: flex;
    align-items: left;
}

.bot-logo-text {
    font-family: var(--font-frank-ruhl);
    font-size: 16px;
    font-weight: 300;

    display: flex;
    align-self: flex-start;

    margin: 15px;
}

.bot-message-bubble {
    max-width: 255px;
    padding: 10px;

    border-radius: 16px;
    background-color: var(--color-primary-bg);
}

.chatbot-page textarea {
    font-size: 16px;

    overflow-y: auto;
    flex-grow: 1;

    max-height: 80px;

    resize: none;
}

.chatbot-page button {
    width: 60px;
    height: 44px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 16px;
    background-color: var(--color-red);
}

.chatbot-page button:hover {
    background-color: #d02411;
}

.status-message {
    width: 90%;
    margin: 20px 0;

    text-align: center;
}

.error-message {
    padding: 5px 0;

    color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 4px;
}

/*

   ==============================
    6. DESKTOP RESPONSIVE DESIGN
   ==============================

*/

.not-used {
    width: 100%;
}

@media(min-width: 768px) {
    /* { Text } */

    .not-used {
        width: 200%;
    }

    .body-text {
        font-size: 16px;
    }

    .logo-text {
        font-size: 30px;
    }

    .header-text {
        font-size: 36px;
    }

    .sub-header-text {
        font-size: 20px;
    }

    .accent-text {
        font-size: 16px;
    }

    /* { Header } */

    .main-header {
        position: sticky;
        z-index: 1000;
        top: 0;

        height: 68px;
    }

    .ham-menu {
        width: 20px;
        height: 25px;
    }

    .cart-icon {
        width: 45px;
        height: 35px;
    }

    /* { Menu } */

    .off-screen-nav-list li {
        font-size: 36px;

        width: 100%;
    }

    .off-screen-nav-list li:last-child {
        margin-top: 425px;
        padding-bottom: 20px;
    }

    /* LANDING PAGE */

    /* Hero section */

    .hero-title {
        font-size: 200px;
    }

    .hero-subtitle {
        font-size: 36px;
    }

    .vertical-line {
        height: 208px;
    }

    /* Shop n' Ask section */

    .shop-and-ask-container {
        position: relative;

        display: flex;
        overflow: hidden;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;

        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .content-section {
        flex: 0 0 448px;

        box-sizing: border-box;
        margin: auto;
        padding: 98px 0;

        text-align: center;
    }

    .image-container {
        width: 448px;
        height: 327px;
        margin: 0 auto;
    }

    .hero-divider-line {
        display: none;
    }

    .content-section.shop-section {
        position: relative;
    }

    .shop-and-ask-container::before {
        position: absolute;
        z-index: 1;
        top: 0;

        width: 1px;
        height: 100%;

        content: '';

        background-color: var(--color-text-interface);
    }

    /* How it works section */

    .how-it-works-section {
        align-items: center;
    }

    .how-it-works-container {
        flex-direction: row;

        width: 100vw;
    }

    .steps {
        padding: 0;
    }

    .step-1 {
        flex: 1;

        max-width: 500px;
        padding: 0 45px;

        border-right: 1px solid var(--color-text-interface);
        border-bottom: 1px solid var(--color-text-interface);
    }

    div.steps.step-2,
    div.steps.step-3,
    div.steps.step-4,
    div.steps.step-5 {
        margin: 0;
        padding: 0;
    }

    .right-column {
        display: flex;
        flex: 2;
        flex-direction: column;

        height: 100%;
    }

    .right-column .steps {
        align-items: center;
        flex: 1;
        flex-direction: row;
        justify-content: flex-start;

        padding: 15px;
    }

    .steps-wrapper {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: 0;
    }

    .step-title-area {
        flex: 1;

        min-width: 290px;
        max-width: 500px;
    }

    .step-text-area {
        flex: 2;

        min-width: 290px;
        max-width: 500px;
        padding-right: 90px;
    }

    .sub-header-text.step-title-small {
        width: 300px;
        margin-right: 90px;
        padding: 90px 0 90px 90px;
    }

    /* Popular produce section */

    .popular-produce-section {
        padding: 90px 0;
    }

    .popular-produce-section .header-text {
        margin-bottom: 45px;
    }

    .produce-carousel {
        display: grid;
        overflow-x: hidden;

        grid-template-columns: repeat(3, 1fr);
        gap: 29px;
    }

    .produce-card {
        position: relative;

        overflow: hidden;

        width: auto;
        max-width: 455px;
        padding: 0;
    }

    .popular-produce-img {
        width: 455px;
        height: 432px;
    }

    .produce-info {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 455px;
    }

    .produce-name {
        margin-top: 18px;
    }

    .produce-price {
        text-align: right;
    }

    .produce-weight {
        flex-basis: 100%;

        margin-top: 12px;
    }

    .add-to-cart-button {
        top: 370px;
    }

    /* Footer */

    footer {
        padding: 0 0 0 55px;
    }

    .footer-content-wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .footer-horizontal-line {
        width: 100%;
        max-width: none;
    }

    .footer-title {
        margin-bottom: 10px;
    }

    .footer-sub-header {
        font-size: 36px;

        margin-bottom: 0;
    }

    .footer-accent {
        font-size: 24px;

        margin-bottom: 45;
    }

    .sign-up input {
        margin: 8px 0 8px 0;
    }

    .sign-up button {
        margin-bottom: 90px;
    }

    .footer-title,
    .footer-sub-header,
    .footer-accent,
    .sign-up {
        max-width: 450px;
    }

    /* PRODUCTS PAGE */

    .product-page {
        padding: 0;
    }

    .product-page-title {
        font-size: 36px;

        margin: 0;
        padding-bottom: 0;
        padding-left: 45px;
    }

    .product-text {
        max-width: 600px;
        padding: 0 0 45px 45px;
    }

    /* { Produce section } */

    .produce-grid {
        display: flex;
        flex-wrap: wrap;

        padding-left: 30px;
    }

    .produce-grid .produce-card {
        padding: 0 15px;
    }

    .product-page .popular-produce-img {
        width: 454px;
        height: 432px;
    }

    .product-page .add-to-cart-button {
        top: 375px;
    }

    .product-page .produce-weight {
        padding-bottom: 50px;
    }

    /* { Partner-farms section } */

    .partner-farms {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: center;
    }

    .partner-farms-title {
        font-size: 27px;

        display: flex;
        align-items: center;
        flex-basis: 300px;
        flex-shrink: 0;

        padding: 0;

        border: none;
    }

    .partner-farms-header {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 700px;

        border-top: 1px solid var(--color-text-interface);
    }

    #map-container {
        height: 478px;
        padding: 45px 90px;

        border-top: 1px solid var(--color-text-interface);
        border-left: 1px solid var(--color-text-interface);
    }

    .product-page .footer-title {
        margin-top: 0;
    }

    /* CHATBOT PAGE */

    .chatbot-page {
        align-items: center;
        flex-direction: row;
        justify-content: center;

        height: calc(100vh - 68px);

        background-image: url('/Exam-Project/assets/images/Landing-Page/Hero-bg-img.jpg');
        background-position: center;
        background-size: cover;
    }

    @supports(background-image: url( 'data: image/avif; base64, AAAAHGZ0eXAgYXZpZjhpZjAgYXZpZiAgYXZpZiBtYXJrZmEzAAAADmljY28dIHRydmMgcmZjIG51bGwxAABsYXZpZmF2eXJmZgAAr3BpdG0AAAAAaWl0cmlwAAAAEGF2aWZpZmEgAAAAAEhXRFJJV1NMQ2FydGZkQ1EAAAAARGl0c3UAAAAAcGlweAAAAHJob28AAAAAMnBpdWluAAAAAPoAAABtaWRhAABtb292AAAACGdtZGF0YWAAAAAybmRhaXAAAAARaGlkYWRtAAAAAAAVcGlsYwAAAAAoYXZpZmF2Y2kAAAAEAAABgAAAAAAABw=="')) {
        .chatbot-page {
            background-image: url('/Exam-Project/assets/images/Landing-Page/Hero-bg-img.avif');
        }
    }

    .chatbot-container {
        display: flex;
        align-items: center;
        flex-grow: 0;
        justify-content: center;

        width: 508px;
        height: 716px;

        border-radius: 16px;
        background-color: var(--color-secondary-bg-text);
    }

    #messageInput {
        width: 395px;
    }
}